<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ TITLE_C2F }}</title>
</head>
<body>

    <nav>
        <a href="">{{ LINK_C2F }}</a> |
        <a href="">{{ LINK_F2C }}</a>
    </nav>

    <main>

        <h3>{{ TITLE_C2F }}</h3>

        <form method="post">

            <input>

            <input type="submit" value="{{ BUTTON_CALCULATE }}"/>

        </form>

    </main>

    <br><br>

    <nav>
        <a href="?lang=et">Est</a> | <a href="?lang=en">Eng</a>
    </nav>

</body>
</html>
