<br><br><br>

<a href="session.php?cmd=without">Without session</a><br>
<a href="session.php?cmd=start">Start</a><br>
<a href="session.php?cmd=login">Login</a><br>
<a href="session.php?cmd=destroy">Destroy</a><br>

<br><br><br>

Session: {{ $session }}